// .pageMainContainer{
//   display: block;
//   justify-content: center;
//   height: calc(100vh - var(--headerHeight));
//   //background: gray;
// }

// .page_content{
//   // Отступаем от верха 62 px, так как Блоки с display: fixed; (Navbar) не участвуют в общем потоке рендеринга.
//   padding-top: var(--headerHeight); 
//   padding-left: 10px;
//   padding-right: 10px;
// }
//~ .secondRow

// .secondRow{
//   //display: flex;
//   //justify-content: center;
//   //background: rgba(191, 191, 191, 0.15);
//   //border: 4px double black; /* Параметры границы */
//   //padding: 10px; /* Поля вокруг текста */
//   //border: 2px solid black;
//   padding-top: var(--pageHeaderHeight); 
//   border-radius: 5px;
//   margin-top: 5px;
//   margin-bottom: 5px;

// }

.export_booking_form_header  {
  padding-top: calc(var(--pageHeaderHeight + 10) );

  //padding-top: var(--pageHeaderHeight); 
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}